.bb-mechanics-dropdown {
  text-align: left;
  .dropdown-menu {
    position: fixed;
    width: max-content;
    max-height: 70vh; /* yolo */
    overflow-y: auto;
  }
}
.favorite-mechanic {
  font-weight: bold;
}
