.bb-mechanics-dropdown {
  text-align: left;
}

.mechanic-bubble {
  font-size: 0.6rem;
  padding: 2px 6px;
  color: #555;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 999px;
  text-transform: lowercase;

  &.favorite-mechanic {
    font-weight: bold;
    background: #ebb;
    border-color: #f99;
    white-space: nowrap;
  }
}
