<template name="tag_table_rows">
  {{! Inputs:
    type: type of object
    id: id of object
    editable: should tags be editable?
    adding: object with methods:
      adding(): returns true if a tag should be added to the object
      done(): called when finished adding the tag, or if it was cancelled.
  }}
  {{#each tag in tags}}
    {{#unless equal tag.canon "stuckness"}}
      <tr data-tag-name="{{tag.canon}}">
        {{>edit_tag_name type=type id=id name=tag.name editable=editable}}
        {{>edit_tag_value type=type id=id name=tag.name editable=editable}}
      </tr>
      {{#if equal tag.canon "status"}}
        {{! only in tags on the puzzle page}}
        <tr>
          <td class="tagname">Set by:</td>
          <td class="tagvalue">{{>gravatar_with_badges nick=tag.touched_by size=16}}{{nickAndName tag.touched_by}}</td>
        </tr>
      {{/if}}
    {{/unless}}
  {{/each}}
  {{#if adding.adding}}
    <tr class="bb-add-tag">
      <td class="bb-edit-tag-name bb-editable control-group {{tagAddClass}}">
        <input type="text" placeholder="Tag name" class="input-block-level" />
        {{#if tagAddStatus}}
          <div class="tooltip top in bb-edit-status"><div class="tooltip-arrow"></div><div class="tooltip-inner">{{tagAddStatus}}</div></div>
        {{/if}}
      </td>
      <td></td>
    </tr>
  {{/if}}
</template>
