[Unit]
Description=Codex Batch Server
Documentation=https://github.com/Torgen/codex-blackboard
After=mongod.service
Requires=mongod.service
StopWhenUnneeded=true
PartOf=codex.target

[Service]
ExecStart=/usr/bin/node /opt/codex/bundle/main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=codex-batch
WorkingDirectory=/opt/codex/bundle
User=blackboard
Group=blackboard
EnvironmentFile=/etc/codex-per-team.env
EnvironmentFile=/etc/codex-per-hunt.env
EnvironmentFile=/etc/codex-batch.env
Environment=UNIX_SOCKET_PATH=/tmp/codex.batch
Environment=UNIX_SOCKET_PERMISSIONS=666

[Install]
WantedBy=codex.target
