[Unit]
Description=Codex Blackboard Server
Documentation=https://github.com/Torgen/codex-blackboard
After=mongod.service
Requires=mongod.service
StopWhenUnneeded=true
PartOf=codex.target

[Service]
ExecStart=/usr/bin/node /opt/codex/bundle/main.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=codex
WorkingDirectory=/opt/codex/bundle
User=blackboard
Group=blackboard
EnvironmentFile=/etc/codex-per-team.env
EnvironmentFile=/etc/codex-per-hunt.env
Environment=UNIX_SOCKET_PATH=/tmp/codex.%i
Environment=UNIX_SOCKET_PERMISSIONS=666
Environment=DISABLE_BATCH_PROCESSING=true

[Install]
WantedBy=codex.target
